.dir_title,
.file_title {
    border-bottom: 1px solid black;
    display: inline-block;
}

.admin_panel {
    display: inline-block;
}
.error {
    padding: 5px;
    color: red;
}
nav {
    padding: 5px;
}
